name: CI

on:
  push:
    branches: [master, '2.*']
  pull_request:
    branches: [master]

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install shellcheck
        run: sudo apt-get install -y shellcheck
      - name: Shellcheck
        run: shellcheck files/tlog_lib.sh files/tlog

  test:
    uses: rfxn/batsman/.github/workflows/test.yml@1.0.1
    with:
      project-name: tlog
      os-matrix: '["debian12","centos6","centos7","rocky8","rocky9","ubuntu1204","ubuntu2004","ubuntu2404"]'
